.article {
  align-items: center;
  text-align: center;
  padding: 0 121px 96px;
  background: #839695;
}
.article__title {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  line-height: 31.65px;
  padding: 64px 0 15px;
  text-decoration: none;
}
.article__desc {
  font-size: 17px;
  font-weight: 500;
  color: #000;
  line-height: 22px;
  padding: 30px 0;
  text-align: left;
}
.article__comment {
  background-color: #fff;
  padding: 18px 20px 43px 35px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.article__img {
  width: 1198px;
  height: auto;
}
.article__expert {
    padding: 10px 0 30px;
}
